a{
  text-decoration: none;
}

select {
  display: none;
}

.app-nav-itens{
  position: relative;
  display: flex;
  margin-left: auto;
}

.app-texto-navbar {
  background: linear-gradient(90deg, #ff7a18, #f1013d, #5fa7e2);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 38px;
}

//#region Adicionar filme
.app-btn-adicionar {
  background: linear-gradient(90deg, #ff8a37, #ff3568, #79c3ff);
  -webkit-background-clip: text;
  color: transparent;
  border: none;
  font-size: 21px;
  cursor: pointer;
  vertical-align: 0;
}

.app-opcoes-adicionar {
  display: none;
  background-color: transparent;
  border-color: white;
  position: relative;
  width: 100%;
  z-index: 1000;
  color: white;
}

.app-opcoes-adicionar a {
  display: block;
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
  padding-right: 1rem;
}

.app-opcoes-adicionar a:hover {
  color: rgb(128, 128, 128);
}
//#endregion

//#region Pesquisar
.app-btn-pesquisar {
  background: linear-gradient(90deg, #ff8a37, #ff3568, #79c3ff);
  -webkit-background-clip: text;
  color: transparent;
  border: none;
  font-size: 21px;
  cursor: pointer;
  vertical-align: 0;
}

.app-barra-pesquisa {
  display: none;
  background-color: transparent;
  position: relative;
  width: 100%;
  z-index: 1000;
}

.app-barra-pesquisa input{
  background-color: transparent;
  text-align: center;
  border-radius: 5px;
  border-color: white;
  color: #ccc;
}

.app-barra-pesquisa input::placeholder{
  color: #ccc;
}

.app-barra-pesquisa.show {
  display: flex;
  animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
//#endregion

//#region Perfil
.app-icone-perfil {
  width: 1000px;
  padding-left: 11px;
}

.app-btn-perfil {
  background: linear-gradient(90deg, #ff8a37, #ff3568, #79c3ff);
  -webkit-background-clip: text;
  color: transparent;
  border: none;
  font-size: 21px;
  cursor: pointer;
  vertical-align: 0;
}
//#endregion

//#region Botões
.app-btn-voltar {
  border-color: #ffffff62;
  background: linear-gradient(90deg, #943e00, #8b0023, #001cb9);
  -webkit-background-clip: text;
  color: transparent;
  border-radius: 10px;
  font-weight: bold;
  font-size: 130%;
  width: 200px;
  margin-bottom: 40px;
}

.app-btn-voltar:hover {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.app-btn-mais-resultados {
  border-color: #ffffff62;
  background: linear-gradient(90deg, #943e00, #8b0023, #001cb9);
  -webkit-background-clip: text;
  color: transparent;
  border-radius: 10px;
  font-weight: bold;
  font-size: 130%;
  width: 200px;
  margin-bottom: 40px;
}

.app-btn-mais-resultados:hover {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
//#endregion
