.app-borda-nota-mais-baixa {
  border-color: #f62424;
}

.app-borda-nota-baixa {
  border-color: #f62424;
}

.app-borda-nota-media {
  border-color: #ffed23;
}

.app-borda-nota-alta {
  border-color: rgb(0, 196, 0);
}

.resultados-busca {
  text-align: center; /* Garante que o texto fique centralizado */
}

.filmes-badge, .paginas-badge {
  font-size: 0.9rem; /* Reduz o tamanho da fonte dos badges */
  padding: 0.2rem 0.6rem; /* Reduz o espaçamento interno dos badges */
}

h4 {
  margin-bottom: 1rem; /* Garante um espaçamento adequado entre o título e o resto */
}

p {
  margin-bottom: 0.5rem; /* Ajusta o espaçamento entre as linhas de Filmes e Páginas */
}

.app-mostrar-cards {
  gap: 0;
  margin: 0% 5%;
  justify-content: center;
}

@media (max-width: 315px) {
  .app-config-col {
    width: 100%;
  }
}

@media (width > 315px) {
  .app-config-col {
    width: 50%;
  }
}

@media (width > 576px ) {
  .app-config-col {
    width: 30%;
  }
}

@media (width > 767px ) {
  .app-config-col {
    width: 25%;
  }
}

@media (width > 877px ) {
  .app-config-col {
    width: 20%;
  }
}

@media (width > 991px) {
  .app-config-col {
    width: 13%;
  }
  .app-texto-filmes-populares {
    margin: 2% 8%;
    margin-bottom: 0;
  }
}
