@import "bootstrap";
@import "bootstrap-icons";

body {
  background: -webkit-linear-gradient(to right, #faf3f4, #c2c2fb);
  background: linear-gradient(to top, #8e5cb9be, #212529b9, #212529ce, #212529e5, #212529);

  height: 100%;
  margin: 0;
}
